html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

/* Nếu muốn điều chỉnh tỉ lệ scale của Three.js */
html {
    transform-origin: top left;
}

body {
    overflow: hidden; /* Ngăn chặn thanh cuộn */
}

  body, html {
    margin: 0;
    padding: 0;
  }
    
  #ngoc-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Đảm bảo phần tử này hiển thị phía trước trái tim */
    font-size: 24px; /* Điều chỉnh kích thước của chữ */
  }
  